<?xml version="1.0" encoding="UTF-8"?>
<!-- Deployment descriptor for contact management application. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SampleWeb</display-name>
	<welcome-file-list>
		<welcome-file>jsps/Login.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AddContact</servlet-name>
		<servlet-class>com.contactmgmt.servlets.AddContact</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchContact</servlet-name>
		<servlet-class>com.contactmgmt.servlets.SearchContact</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>
		com.contactmgmt.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContact</servlet-name>
		<url-pattern>/addContact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchContact</servlet-name>
		<url-pattern>/searchContact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
</web-app>
