<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SampleWeb</display-name>
	<welcome-file-list>
		<welcome-file>jsps/Contacts.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AddContact</servlet-name>
		<servlet-class>com.contactmgmt.servlets.AddContact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContact</servlet-name>
		<url-pattern>/addContact</url-pattern>
	</servlet-mapping>


</web-app>
